label{
    margin: 1%;
    display: inline-block;
    width: 140px;
    font-size: medium;
    font-weight: bold;
}
input{
    margin-top: 2%;
}
.form-group .form-control{
    background-color: rgb(63, 63, 71);
    border: 2px solid var(--color-dark-xx);
    border-radius: .1rem;
    padding: 0.6rem;
}