.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Justify-Text {
  text-align: justify;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

/* Home */
#course-container {
  width: 65%;
}

#schedule-container {
  width: 30%;
}

.button-courses {
  min-width: 80%;
}
.button-courses2 {
  min-width: 90%;
  min-height: 60px;
}

.container-schedule{
  border-color:#fff;
  border-style: solid;
  border-radius: 20%;
  min-width: 90%;
  min-height: 500px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
