body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button-courses {
  color: #fff !important;
  border-color: #ba181b !important;
  cursor: pointer;
  width: 100%;
  margin-top: 4%;
}

.button-courses:hover {
  color: #fff !important;
  background-color: #ba181b !important;
  border-color: #e5383b !important;
}

.button-courses:focus {
  box-shadow: 0 0 0 0.25rem rgba(229, 56, 59, 0.5) !important;
}

.button-forgot-password {
  color: #f5f3f4 !important;
  width: 100%;
}
.button-forgot-password:hover {
  color: #ffffff !important;
  border-color: none !important;
  text-decoration-color: #ba181b !important;
}
.button-forgot-password:focus {
  box-shadow: none !important;
}
.button-login {
  color: #fff !important;
  border-color: #ba181b !important;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button-login:hover {
  color: #fff !important;
  background-color: #e5383b !important;
  border-color: #e5383b !important;
}

.button-login:focus {
  box-shadow: 0 0 0 0.25rem rgba(229, 56, 59, 0.5) !important;
}
#button-list-comments{
  margin-left: 1em;
}
.button-login-r {
  color: #fff !important;
  border-color: #ba181b !important;
  background-color: #ba181b !important;
  padding: 14px 20px;
  margin: 0 0 2em 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.button-login-r:hover {
  color: #fff !important;
  background-color: #e5383b !important;
  border-color: #e5383b !important;
}
.button-login-r:focus {
  box-shadow: 0 0 0 0.25rem rgba(229, 56, 59, 0.5) !important;
}
.button-login-google {
  color: black !important;
  background-color: #fff !important;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button-login-google:hover {
  color: #fff !important;
  background-color: #e5383b !important;
  border-color: #e5383b !important;
}
.button-login-google:focus {
  box-shadow: 0 0 0 0.25rem rgba(229, 56, 59, 0.5) !important;
}
.button-main {
  color: #e5383b !important;
  background-color: #161a1d !important;
  border-color: #e5383b !important;
}

.button-main:hover {
  color: #fff !important;
  background-color: #e5383b !important;
  border-color: #e5383b !important;
}

.button-main:focus {
  box-shadow: 0 0 0 0.25rem rgba(229, 56, 59, 0.5) !important;
}

.button-secondary {
  color: #fff !important;
  background-color: #e5383b !important;
  border-color: #e5383b !important;
}
.button-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgba(229, 56, 59, 0.5) !important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28229, 56, 59%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

#basic-nav-dropdown {
  color: #fff !important;
}
.col-navbar {
  flex: 0 0 !important;
}

.button-toggle {
  color: #e5383b !important;
  border-color: #e5383b !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.form-border {
  border: 3px solid #ba181b;
  border-radius: 7px;
  padding: 2em 1.5em;
}
.icon-user {
  padding: 25px;
}
.icon-login {
  background-color: #ba181b !important;
}
.bg-backBlack{
  background-color: #181a1b !important;
}
.bg-ourBlack {
  background-color: #0b090a !important;
}
.bg-carnelian{
  background-color: #ba181b !important;
}
.bg-ourGray {
  background-color: #161a1d !important;
}

.bg-cultured {
  background-color: #f5f3f4 !important;
}

.text-white {
  color: #f5f3f4 !important;
}

.text-gray {
  color: #b1a7a6 !important;
}

.text-carnelian {
  color: #ba181b;
}
.text-imperialRed {
  color: #e5383b;
}

.border-carnelian {
  border-color: #ba181b !important;
}

.border-line-carnelian {
  border: 2px solid #ba181b !important;
}

.border-line-carnelian:focus {
  box-shadow: 0 0 0 0.25rem rgba(229, 56, 59, 0.25) !important;
}

.popup {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  margin: 0px;
  padding-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.815);
  width: 80%;
  max-width: 50px;
}

.popup-inner .close-btn {
  border-color: black;
  background-color: black;
  color: black;
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 30%;
}
.text-welcome-messagge {
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 4%;
  margin-right: 4%;
  text-align: center;
  color: #f5f3f4;
}

.container-popup {
  border-color: black;
  border-style: solid;
  border-radius: 10%;
  min-width: 70%;
  min-height: 70%;
}

.popup-inner-schedule {
  position: relative;
  margin: 0px;
  padding-bottom: 2%;
  background-color: rgba(0, 0, 0, 0);
  width: 80%;
  max-width: 50px;
}

.container-popup-schedule {
  min-width: 70%;
}
.imgSchedule {
  width: 50%; /* or any custom size */
  object-fit: contain;
}

.text-left {
  text-align: left !important;
}
.text-rigth {
  text-align: right !important;
}

.no-border-card {
  border: 0px !important;
  background-color: transparent !important;
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.floating-button {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 50%;
  right: 97%;
  border-color: transparent !important;
  text-align: center;
  background-color: transparent !important;
  border-radius: 100% !important;
}

.dropdown-toggle::after {
  color: #0b090a !important;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  top: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.list-group-numbered {
  margin-left: 1%;
  background-color: #0b090a !important;
  max-width: 90%;
  border-color: #ba181b;
  border-width: 2px;
}
.list-group-item {
  margin-bottom: 3px;
  background-color: #0b090a !important;
  border-color: #ba181b !important;
  border-width: 2px !important;
  color: #b1a7a6 !important;
}
.badge-course {
  background-color: #ba181b !important;
}

.col-course-user{
  margin-right: auto !important;
  margin-left: auto !important;
}
.chackBox-lesson{
  margin-right: auto !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  padding-top: auto !important; 
}

.btn-course-user-r{
  margin-right: auto !important;  
}

.btn-course-user-l{  
  margin-left: auto !important;
}
@media only screen and (max-width: 600px) {
  .popup-inner .close-btn {
    border-color: black;
    background-color: black;
    color: black;
    position: absolute;
    top: 0%;
    right: 4%;
    border-radius: 30%;
  }
  .container-popup-schedule {
    min-height: 90%;
  }
  .imgSchedule {
    width: 100%;
  }
  .close-btn-schedule {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: black;
    position: absolute;
    top: 0%;
    right: 4%;
    border-radius: 30%;
  }

  .container-popup-schedule {
    min-width: 100%;
  }

  .text-welcome-messagge {
    font-size: small !important;
  }
  .icon-welcome {
    font-size: 35px !important;
  }
  .navbar {
    padding: 3% !important;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    top: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 0px !important;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .close-btn-schedule {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: black;
    position: absolute;
    top: 0%;
    right: 26%;
    border-radius: 30%;
  }
  .icon-welcome {
    font-size: 55px !important;
  }
}

@media only screen and (max-width: 900px) {
  .floating-button {
    right: 96%;
  }
}

@media only screen and (max-width: 600px) {
  .floating-button {
    right: 95%;
  }
}

.svg-red {
  fill: #e5383b !important;
}

#cloudinary_upload_button {
  color: #fff !important;
  border-color: #ba181b !important;
  border: none;
  cursor: pointer;
  width: 100% !important;
  height: auto !important;

  background-color: #ba181b !important;
  border-color: #e5383b !important;
  font-size: large !important;
}

.profileCourseButton {
  color: #fff !important;
  border-color: #ba181b !important;
  border: none;

  background-color: #ba181b !important;
  border-color: #e5383b !important;
  border-radius: 50px !important;
}

.courseContainer{
  padding: 0% !important;
  margin: 0% !important;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox {
  display: inline-block; 
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
}

.checkbox--active {
  border-color: #ba181b;
  background: #ba181b;
}

.button-leccions2 {
  min-width: 100%;  
  color: #e5383b !important;
  border-color: #e5383b !important;
}